node_modules/
dist/
.env
**/venv/
**/node_modules/
**/dist/
**/build/
**/output/
**/cache/
**/logs/
*.log
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env.development
*.env.test