node_modules/
dist/
.env
**/node_modules/
**/dist/
**/build/
**/coverage/
**/public/
**/src/
**/src/assets/
**/src/assets/images/
**/src/assets/videos/
*.log
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env.development
*.env.test